*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: chocolate;
    height: 100px;
}

h1{
    font-size: 3rem;
}

main{
    height: 621px;
}

p{
    font-size: 2rem;
}

footer{
    text-align: center;
    background-color: chocolate;
    height: 100px;
}

h2{
    font-size: 3rem;
}